<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.russianbravedev.dotamania"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.russianbravedev.dotamania.Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ChoiseLang"
            android:label="@string/title_activity_choise_lang" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Heroes"
            android:label="@string/title_activity_heroes" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Items"
            android:label="@string/title_activity_items" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowItem"
            android:label="@string/title_activity_show_item" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Neutrals"
            android:label="@string/title_activity_neutrals" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.CrepsAT"
            android:label="@string/title_activity_creps_at" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Tactics"
            android:label="@string/title_activity_tactics" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Steam"
            android:label="@string/title_activity_steam" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Mail"
            android:label="@string/title_activity_mail" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Like"
            android:label="@string/title_activity_like" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowHero"
            android:label="@string/title_activity_show_hero" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Accordion"
            android:label="@string/title_activity_accordion" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.TacticsInfo"
            android:label="@string/title_activity_tactics_info" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.SteamEnterAccount"
            android:label="@string/title_activity_steam_inventary" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.SteamStore"
            android:label="@string/title_activity_steam_store" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowStoreItem"
            android:label="@string/title_activity_show_store_item" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowMatchHistory"
            android:label="@string/title_activity_show_match_history" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.MatchHistory"
            android:label="@string/title_activity_match_history" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.SteamInventory"
            android:label="@string/title_activity_steam_inventory" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowMatchInfo"
            android:label="@string/title_activity_show_match_info" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.SteamNews"
            android:label="@string/title_activity_steam_news" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowSteamNews"
            android:label="@string/title_activity_show_steam_news" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.DotaBuffInfo"
            android:label="@string/title_activity_dota_buff_info" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.DotaBuffMenu"
            android:label="@string/title_activity_dota_buff_menu" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.DotaItemsGame"
            android:label="@string/title_activity_dota_items_game" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Services"
            android:label="@string/title_activity_services"
            android:parentActivityName="ru.russianbravedev.dotamania.FullScreenActivity" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.FunnyMenu"
            android:label="@string/title_activity_funny_menu" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.Wallpapers"
            android:label="@string/title_activity_wallpapers" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.ShowWallpaper"
            android:label="@string/title_activity_show_wallpaper" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.FunnyPicts"
            android:label="@string/title_activity_funny_picts">
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.FunnyVideoMenu"
            android:label="@string/title_activity_funny_video_menu" >
        </activity>
        <activity
            android:name="ru.russianbravedev.dotamania.FunnyVideoList"
            android:label="@string/title_activity_funny_video_list" >
        </activity>
    </application>

</manifest>
